html{
  /*for pc light theme*/
  background: url(images/80565c91f1516df56ea98b90b496d525.jpeg);
}
@media (prefers-color-scheme: dark) and (min-width: 1280px) {
  /*for pc dark theme*/
  html {
    background: url(images/4bbe7577178771c67a7ee71ef36e82a4.jpg);
  }
}
@media (prefers-color-scheme: light) and (max-width: 991px) {
  /*for tablet light theme*/
  html {
    background: url(images/HD-wallpaper-touhou-dress-umbrella-sky-monochrome-sketch-city-yakumo-yukari-long-hair.jpg);
  }
}
@media (prefers-color-scheme: dark) and (max-width: 991px) {
  /*for tablet dark theme*/
  html {
    background: url(images/video-games-touhou-minimalism-japanese-clothes-wallpaper-preview.jpg);
  }
}
@media (prefers-color-scheme: light) and (max-width: 479px) {
  /*for phone light theme*/
  html {
    background: url(images/890972.jpg);
  }
}
@media (prefers-color-scheme: dark) and (max-width: 479px) {
  /*for phone dark theme*/
  html {
    background: url(images/838367.jpg);
  }
}
