* {
  font-family: Dongle;
  color: #414147;
  font-size: 30px;
}

html{
  background-color: #e6e6fa;
}

button {
  width: 98%;
  height: 40px;
  border-width: 5px;
}

button:active {
  border-width: 1px;
}

h1 {
  font-size: 40px;
}
