* {
  font-family: Silkscreen;
}

html{
  /*for pc light theme*/
  background-color: lightblue;
}

button {
  width: 98%;
  height: 40px;
  border-width: 5px;
}

button:active {
  border-width: 1px;
}
